html {
	width: 100%;

	background-color: $light-app-bg;
	color: $light-text;
	font-family: $text-font;
	font-size: 62.5%;
	line-height: 62.5%;
}

body {
	@extend div;

	margin: 0;
	font-size: 1.2em;
	line-height: 1em;
}

div {
	box-sizing: border-box;
	position: relative;
}

@mixin flex () {
	@extend div;

	display: flex;
}

@mixin grid () {
	@extend div;

	display: grid;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;

	font-family: $display-font;
	line-height: 1em;
}
h1 {
	font-size: 3.4em;
}
h2 {
	font-size: 1.8em;
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1.2em;
}
h5 {
	font-size: 1em;
}
h6 {
	font-size: .8em;
}

small {
	font-family: inherit;
	&:not(.tiny) { font-size: .75em; }
	&.tiny { font-size: .5em; }

	color: $light-text;
}

big {
	font-size: 12em;
}

button {
	&, &:hover, &:active, &:focus {
		@extend div;

		padding: .5em 1.2em;
		width: fit-content;

		background-color: $light-btn-bg;
		color: $light-btn-text;
		border: none;
		border-radius: 0;
		outline: none;
		font-family: $text-font;
	}

	&:hover {
		background-color: $light-btn-bg-hover;
		color: $light-btn-text-hover; 
	}

	&:active {
		background-color: $light-btn-bg-active;
		color: $light-btn-text-active;
	}
}

input {
	&, &:hover, &:active, &:focus {
		@extend div;

		padding: .3em .5em;
		width: fit-content;

		background-color: $light-inp-bg;
		color: $light-inp-text;
		border: none;
		border-radius: 0;
		outline: none;
		font-family: $display-font;
	}

	&::placeholder {
		color: $light-placehld;
		font-family: $text-font;
		font-style: italic;
	}

	&:not(:focus):not(:active):hover{
		background-color: $light-inp-bg-hover;
		color: $light-inp-text-hover;
		&::placeholder {
			color: $light-placehld-hover;
		}
	}

	&:focus, &:active {
		background-color: $light-inp-bg-active;
		color: $light-inp-text-active;
		&::placeholder {
			color: $light-placehld-active;
		}
	}

	&[type=checkbox],
	&[type=radio] {
		display: none;
		&:checked + label:after {
			display: block;
			width: 7px;
			height: 7px;
			transform: translate(-21px, -9px);

			background-color: $light-inp-bg-active;
		}
	}
}

label[type=checkbox], 
label[type=radio] {
	position: relative;
	padding-left: 25px;

	&:before, &:after {
		display: block;
		position: absolute;
		width: 15px;
		height: 15px;
		transform: translate(-25px, -1px);

		content: "";
		background-color: $light-inp-bg;
	}

	&:hover:before {
		background-color: $light-inp-bg-hover;
	}

	&:after {
		display: none;
	}
}

.material-icons {
	font-size: inherit;

	transform: translateY(.3ex);
}

button > .material-icons {
	margin-left: 5px;
}



// component styles

@mixin slight-shadow () {
	box-shadow: 0px 2px 5px 2px rgba(0,0,0,.05);
} 

.invisible-container {
	@include flex;
	background-color: transparent;
	border: none;
	outline: none;
}

.page-container {
	@include flex;

	width: 100%;
	height: 100vh;
	flex-direction: column;
}

footer {
	@include flex;

	margin: 0 20px;
	justify-content: center;
	text-align: center;
}

header {
	position: relative;

	margin: 10px 20px 0px 20px;
	& > #appTitle {
		position: absolute;
		top: 50%;

		transform: translateY(-50%);
	}

	& > #title {
		text-align: center;
	}
}

.panel {
	@include flex;
	@include slight-shadow;

	margin: 20px;
	padding: 20px;
	height: auto;
	grid-gap: 10px;

	background-color: $light-panel-bg;
}

.panel-stack {
	margin: 20px;

	& > ul {
		@include flex;

		list-style: none;
		flex-direction: row-reverse;
		padding: 0;
		margin: 0;
		z-index: 10;
		
		& > li {
			margin: 0 2px;

			&:first-child { margin-right: 0; }

			& > button {
				height: calc(2em + 1px);

				&.active {
					&, &:hover, &:active, &:focus {
						background-color: $light-panel-bg;
						color: $light-text;
					}
				}
			}
		}
	}
	& > .panel {
		margin: 0;
	}
}

.window {
	@include grid;
	@include slight-shadow;

	margin: 10px;

	& > .window-title {
		@extend div;

		padding: 10px;
		height: 30px;

		background-color: $light-win-title-bg;
		color: $light-win-title-text;
	}

	& > .window-content {
		@extend .panel;

		margin: 0;
		box-shadow: none;
	}
}

.table {
	@include flex;

	width: 100%;
	flex-direction: column;
	overflow: hidden;
	overflow-y: auto;

	& > .row {
		@include grid;

		width: 100%;
		grid-auto-columns: 1fr;
		grid-gap: 2px;

		&:not(:last-child) {
			margin-bottom: 2px;
		}

		&:nth-child(2n) {
			& > * {
				background-color: $light-table-bg-even;
			}
		}

		&:nth-child(2n - 1) {
			&:not(.header) > * {
				background-color: $light-table-bg-odd;
			}
		}

		& > * {
			grid-row: 1;
			padding: 2px 4px;
		}
	}

	& > .header {
		@include border(1px, $light-table-bg-odd);

		z-index: 100;

		border-top: none;
		border-left: none;
		border-right: none;
	}
}

.tasks-table {
	& > .row {
		grid-template-columns: 1.5em 4fr 3fr 3fr 1fr 3fr 3fr;

		cursor: default;

		& > *:not(.task) {
			height: 2.6em;
		}

		&:not(.header) {
			& > * {
				background-color: $light-table-bg-odd;
			}
		}

		& > * {
			padding: .8em 1.5em;
		}

		&:not(:last-child) {
			margin-bottom: .7em;
		}

		& > .priority {
			grid-column: 1;
			height: 100%;
			padding: 0 !important;
			
			background-color: transparent !important;

			& > div {
				position: absolute;
				height: 100%;
				top: 0;
				right: -2px;
			}

			& > .low {
				width: calc(.5em + 2px);
				
				background-color: $priority-1;
			}
			& > .medium {
				width: calc(1em + 2px);
				
				background-color: $priority-2;
			}
			& > .high {
				width: calc(1.5em + 2px);
				
				background-color: $priority-3;
			}
		}

		& > .name { grid-column: 2; }

		& > .user { grid-column: 3; }

		& > .status { grid-column: 4; }

		& > .subtasks {
			grid-column: 5;
			text-align: center;
		}

		& > .created { grid-column: 6; }

		& > .closed { grid-column: 7; }

		&:hover:not(.header) {
			& > *:not(.priority):not(.task) {
				background-color: $light-btn-bg-hover !important;
				color: $light-btn-text-hover;
			}
		}

		&:active:not(.header), &:focus:not(.header) {
			& > *:not(.priority):not(.task) {
				background-color: $light-btn-bg-active !important;
				color: $light-btn-text-active;
			}
		}

		& > .task {
			grid-column: 2/8;

			background-color: $light-task-bg;
			color: $light-task-text;
		}
	}

	& > .header {

	}
}

.popup {
	position: fixed;
	width: 100%;
	height: 100vh;

	background-color: $black-50;
}

// special component styles

#loginPageContainer {
	flex-direction: column;
	align-self: center;
	top: 50%;
	transform: translateY(calc(-50% - 5px));
}

#loginWindow {
	align-self: center;
	margin: 20px;

	& > .window-content {
		@include flex;

		flex-direction: column;
		justify-content: center;
		
		& > * {
			margin: 0 auto;
			&:not(:first-child):not(:last-child) {
				margin: 20px auto;
			}
		}	

		& > input[name=username] {
			width: 250px;
		}
	}
}

#mainPanelStack {
	margin-top: -20px;

	& > .stack {
		& #profilePanelButton {
			margin-left: 20px;
		}
	}
}

#profileContainer {
	@include grid;

	width: 100%;
	grid-template-columns: 1fr 1fr 1fr;

	& > .invisible-container {
		flex-direction: column;

		&:nth-child(1) {
			justify-self: flex-start;
		}

		&:nth-child(2) {
			justify-self: center;
			text-align: center;
			& > * {
				margin-left: auto;
				margin-right: auto;
				margin-top: 10px;
				
				&:first-child {
					padding-bottom: 10px;
					margin-bottom: 10px;
					border-bottom: 1px solid;
				}
			}
		}

		&:nth-child(3) {
			justify-self: flex-end;
			text-align: right;
		}
	}
}